<div class="container">
  <div class="row">
    <div class="container-fluid">
		<div>
		<!-- Tables -->
			<p>
				<%= @tables.count - 1 %> tables occupées</a>
				<ul>
					<% @tables.sort.each do |table| %>
						<li>table <%= table.table_number %></li>
					<% end %>
				</ul>
			</p>
			<p>
				Notes non réglées : <br>
				<ul>
					<% @activeNotes.each do |note| %>
						<li> Référence <%=note.reference%> : <%=note.value%> €
					<% end %>
				</ul>
			</p>
		<!-- Categories -->
			<p>
				<%= @categories.count %> catégories => <%= @articles.count %> articles<!-- <button type="button" data-toggle="modal" data-target="#newCategoryModal"><span class="glyphicon glyphicon-plus"/></button> -->
				<ul>
					<% @categories.each do |category| %>
						<li> <%= category.code %> : <%= category.name %> </li>
						<ul>
							<% category.articles.each do |article| %>
								<li> <%= article.code %> : <%= article.name %> .. <%= article.price.to_d / 100 %> € </li>
							<% end %>
						</ul>
					<% end %>
				</ul>
			</p>
		<!-- Menus -->
			<p>
				<%= @menus.count %> menus <!-- <a href="add_table"><span class="glyphicon glyphicon-plus"></span></a> -->
				<ul>
					<% @menus.each do |menu| %>
						<li> <%= menu.code %> : <%= menu.name %> .. <%= menu.price.to_d / 100 %> € </li>
					<% end %>
				</ul>
			</p>
		</div>
    </div>
  </div>
</div>
<script>
	$( document ).ready(function (){
		document.getElementById("sidebarDashboard").style.backgroundColor = "#333";
	});
</script>