<div class="container">
	<h1>Administration</h1>
	<div>
		<p>
			<%= @tables.count %> tables
			<ul>
				<% @tables.each do |table| %>
					<li>table <%= table.table_number %>
					</li>
				<% end %>
			</ul>
		</p>
		<p>
			<%= @menus.count %> menus <a href="add_table"><span class="glyphicon glyphicon-plus"></span></a>
		</p>
		<p>
			<%= @articles.count %> articles
		</p>
		<p>
			<%= @categories.count %> catégories
			<ul>
				<% @categories.each do |category| %>
					<li> <%= category.code %> : <%= category.name %>

					</li>
				<% end %>
			</ul>
		</p>
	</div>
</div>