<div class="content">
	<% if @table.table_number == 0 %>
		<h1 style="text-align: center;" class="no-print">Edition Liste</h1>
	<% else %>
		<h1 style="text-align: center;" class="no-print">Edition Liste</h1>
	<% end %>
	<%= select_tag "Commandes", options_for_select(@table.getAllNotes.pluck(:reference, :id), params[:note]), :onchange => "window.location.replace('/front/edition_liste/#{@table.id}?note='+this.value)", :class => 'no-print' %>

	<h2 class="yes-print">######################</h2>
	<h2><%= @note.reference %></h2>
	<h2 class="yes-print">######################</h2>
	<table id='Table_Reference' class='table'>
		<thead>
			<tr>
				<th>Description</th>
				<th>Note</th>
			</tr>
		</thead>
		<tbody id="edition_liste_tbody">
			<% @note.note_entries.each do |entry| %>
				<tr>
					<td>
						<%=entry.getCode%> : <%=entry.getName%><br>
						<% if entry.menu_id %>
							<% entry.getMenu.getAllArticles.each do |article| %>
								<ul>
									<li><%= article.code %> : <%= article.name %></li>
								</ul>
							<% end %>
						<% end %>
					</td>
					<td><%=entry.notices%></td>
				</tr>
			<% end %>
			
		</tbody>
	</table>
	<%%>

	<!-- <button onclick="goBack()"> Valider </button> -->
	<button onclick="window.print()" class="no-print"> Imprimer </button>
</div>

<script>

function Printer() {
	var divToPrint = document.getElementById('Table_Reference');
	newWin = window.open("");
	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
}

</script>