<div class="content row">
	<div class="Gauche">
		<table id='Table_Selection' class='Table_Selection'>
			<thead>
				<tr>
					<th colspan="3">SELECTION</th>
				</tr>
				<tr>
					<th>Nb</th>
					<th>Dénomination</th>
					<th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<%@note.getMenus.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
				<%@note.getArticles.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
			<tr>
				<th colspan="2">Total</th><th><%=@note.value.to_f / 100%> €</th>
			</tr>
			<tr>
				<th colspan="2">Restant</th><th id="remaining_selection">100€</th>
			</tr>
			</tbody>
		</table>
		<button>REEDITION TICKET CLIENT</button>
	</div>
	
	<div class="Quarter">
		<button onclick="calculTotal()">TOTAL</button>
		<button onclick="calculMoyenne()">MOYEN</button>
	</div>

	<div class="Centre">
		<table id='Table_Article' class='Table_Article'>
			<thead>
				<tr>
					<th colspan="3">ARTICLES A ENCAISSER</th>
				</tr>
				<tr>
					<th>Nb</th><th>Dénomination</th><th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>code</td>
					<td>nom</td>
					<td class="apayer">prix €</td>
				</tr>
				<tr>
					<th colspan="2">Total</th><th id="total_apayer">x €</th>
				</tr>
				<tr>
					<th colspan="2">1 repas</th><th>x €</th>
				</tr>
			</tbody>
		</table>
	</div>	
	
	<div class="Droite">
		<table id='Table_Paiement' class='Table_Paiement'>
		<thead>
		<tr>
		<th colspan="2">PAIEMENT</th>
		</tr>
		<tr>
		<th>Montant</th><th>Mode</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>3€</td>
		<td>
			<select>
			  <option value="ES">ES</option>
			  <option value="CB" selected="selected">CB</option>
			  <option value="TR">TR</option>
			  <option value="CH">CH</option>
			  <option value="AUTRES">AUTRES</option>
			</select>
		</td>
		</tr>
		<tr>
		<td>5€</td>
		<td>
			<select>
			  <option value="ES">ES</option>
			  <option value="CB" selected="selected">CB</option>
			  <option value="TR">TR</option>
			  <option value="CH">CH</option>
			  <option value="AUTRES">AUTRES</option>
			</select>

		</td>
		</tr>
		<tr>
		<th>Total</th><th>25€</th>
		</tr>
		<tr>
		<th>Paiement</th><th>8€</th>
		</tr>
		<tr>
		<th>Reste/à rendre</th><th>17€</th>
		</tr>
		</tbody>
		</table>
		<button>EDITION FACTURE</button>
	</div>
</div>
<script>
function totalSelection(){
	var sum = 0;
	$(".selection").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#remaining_selection").text(sum+" €");
}
$(document).ready(function(){
	totalSelection();
});
</script>