<div class="content row">
	<div class="Gauche">
		<table id='Table_Selection' class='Table_Selection'>
			<thead>
				<tr>
					<th colspan="3">SELECTION</th>
				</tr>
				<tr>
					<th>Nb</th>
					<th>Dénomination</th>
					<th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<%@note.getMenus.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
				<%@note.getArticles.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
			<tr>
				<th colspan="2">Total</th><th><%=@note.value.to_f / 100%> €</th>
			</tr>
			<tr>
				<th colspan="2">Restant</th><th id="remaining_selection">100€</th>
			</tr>
			</tbody>
		</table>
		<button>REEDITION TICKET CLIENT</button>
	</div>
	
	<div class="Quarter">
		<button>TOTAL</button>
		<button>MOYEN</button>
	</div>

	<div class="Centre">
		<table id='Table_Article' class='Table_Article'>
			<thead>
				<tr>
					<th colspan="3">ARTICLE A ENCAISSER</th>
				</tr>
				<tr>
					<th>Nb</th><th>Dénomination</th><th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr>
					<td>code</td>
					<td>nom</td>
					<td class="apayer">prix €</td>
				</tr> -->
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total</th><th id="total_apayer">x €</th>
				</tr>
				<tr>
					<th colspan="2">1 repas</th><th>x €</th>
				</tr>
			</tfoot>	
		</table>
	</div>	
	
	<div class="Droite">
		<table id='Table_Paiement' class='Table_Paiement'>
			<thead>
				<tr>
					<th colspan="2">PAIEMENT</th>
				</tr>
				<tr>
					<th>Montant</th><th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3€</td>
					<td>
						<select>
						  <option value="ES">ES</option>
						  <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>5€</td>
					<td>
						<select>
						  <option value="ES">ES</option>
						  <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option>
						</select>

					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th><th>25€</th>
				</tr>
				<tr>
					<th>Paiement</th><th>8€</th>
				</tr>
				<tr>
					<th>Reste/à rendre</th><th>17€</th>
				</tr>
			</tfoot>
		</table>
		<button>EDITION FACTURE</button>
	</div>
</div>
<script>
function totalSelection(){
	var sum = 0;
	$(".selection").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#remaining_selection").text(sum+" €");

}
$(document).ready(function(){
	totalSelection();
});

function ajouteLigne(tableID,text) {
  var table_body= document.getElementById(tableID).getElementsByTagName('tbody')[0];
  var nouvelleLigne   = table_body.insertRow(0);
  var nouvelleCellule1  = nouvelleLigne.insertCell(0);
  var nouvelleCellule2  = nouvelleLigne.insertCell(1);
  nouvelleCellule.appendChild(text);
}


var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];


$("#Table_Selection tbody tr").on('click', function(e) {
	var article_table_body = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
	var row = article_table_body.insertRow(article_table_body.rows.length);
	
	document.getElementById("Table_Selection").deleteRow();
	var i=0;
	$("td",this).each(function(el){
		var cell= row.insertCell(i);
		cell.innerHTML = $(this).text();
		i++;

	})
	

});

</script>