<div class="content row">
	<div class="Gauche">
		<table id='Table_Selection' class='Table_Selection'>
			<thead>
				<tr>
					<th colspan="3">SELECTION</th>
				</tr>
				<tr>
					<th>Nb</th>
					<th>Dénomination</th>
					<th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<%@note.getMenus.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
				<%@note.getArticles.each do |menu|%>
					<tr>
						<td><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class="selection"><%=menu.price.to_f / 100%> €</td>
					</tr>
				<%end%>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total</th><th><%=@note.value.to_f / 100%> €</th>
				</tr>
				<tr>
					<th colspan="2">Restant</th><th id="remaining_selection"><%=@note.value.to_f / 100%> €</th>
				</tr>
			</tfoot>
		</table>
		<button>REEDITION TICKET CLIENT</button>
	</div>
	
	<div class="Quarter">
		<button onclick="MoveAllSelectionRows()">TOTAL</button>
		<button onclick="PanierMoyen()">MOYEN</button>
	</div>

	<div class="Centre">
		<table id='Table_Article' class='Table_Article'>
			<thead>
				<tr>
					<th colspan="3">ARTICLE A ENCAISSER</th>
				</tr>
				<tr>
					<th>Nb</th><th>Dénomination</th><th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total</th><th id="total_apayer">0 €</th>
				</tr>
				<!-- <tr>
					<th colspan="2">1 repas</th><th>x €</th>
				</tr> -->
			</tfoot>	
		</table>
	</div>	
	
	<div class="Droite">
		<table id='Table_Paiement' class='Table_Paiement'>
			<thead>
				<tr>
					<th colspan="2">PAIEMENT</th>
				</tr>
				<tr>
					<th>Montant</th><th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3€</td>
					<td>
						<select>
						  <option value="ES">ES</option>
						  <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option>
						</select>
					</td>
				</tr>
				<!-- <tr>
					<td>5€</td>
					<td>
						<select>
						  <option value="ES">ES</option>
						  <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option>
						</select>
					</td>
				</tr> -->
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th><th id="totaux_payes">0€</th>
				</tr>
				<tr>
					<th>Paiement</th><th>8€</th>
				</tr>
				<tr>
					<th>Reste/à rendre</th><th>17€</th>
				</tr>
			</tfoot>
		</table>
		<button>EDITION FACTURE</button>
	</div>
</div>
<script>


$("#Table_Selection tbody").delegate('tr','click', function(e) {
	var article_table_body = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
	var ArticleRow = article_table_body.insertRow(article_table_body.rows.length);
	var rowIndex = this.rowIndex;
	document.getElementById("Table_Selection").deleteRow(rowIndex);
	
	var i=0;
	$("td",this).each(function(el){
		var cell= ArticleRow.insertCell(i);
		if (i == 2) {cell.setAttribute("class", "article")};
		cell.innerHTML = $(this).text();
		i++;
	})
	totalSelection();
});

$("#Table_Article tbody").delegate("tr",'click',function(e) {
	var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
	var SelectionRow = selection_table_body.insertRow(selection_table_body.rows.length);
	var rowIndex = this.rowIndex;
	document.getElementById("Table_Article").deleteRow(rowIndex);
	
	var i=0;
	$("td",this).each(function(el){
		var cell= SelectionRow.insertCell(i);
		if (i == 2) {cell.setAttribute("class", "selection");}
		cell.innerHTML = $(this).text();
		i++;
	})
	totalSelection();
});


$("#Table_Article tfoot").delegate("tr",'click',function(e) {
	var paiement_table_body = document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0];
	var PaiementRow = paiement_table_body.insertRow(paiement_table_body.rows.length);
	var montant = PaiementRow.insertCell(0);
	montant.setAttribute("class","paiement");
	var mode = PaiementRow.insertCell(1);

	var total = this.cells[1].textContent;
	var mode_paiement='<select> <option value="ES">ES</option> <option value="CB" selected="selected">CB</option> <option value="TR">TR</option>						  <option value="CH">CH</option> <option value="AUTRES">AUTRES</option>	</select>';
	
	montant.innerHTML = total;
	mode.innerHTML = mode_paiement;
	$("#Table_Article tbody tr").remove();
	totalSelection();
});

function totalSelection(){
	var ssum = 0;
	$(".selection").each(function(i,obj) {
		ssum += parseFloat($(obj).text());
	});
	$("#remaining_selection").text(ssum+" €");
	var asum = 0;
	$(".article").each(function(i,obj) {
		asum += parseFloat($(obj).text());
	});
	$("#total_apayer").text(asum+" €");
	var psum = 0;
	$(".paiement").each(function(i,obj) {
		psum += parseFloat($(obj).text());
	});
	$("#totaux_payes").text(psum+" €");
}


function MoveAllSelectionRows(){
	var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
	var article_table_body = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
	var srows=selection_table_body.rows;
	for (var r = 0; r < srows.length; r++) {
		var cols = srows[r].cells;
		var ArticleRow = article_table_body.insertRow(r);		
		for (var c = 0; c < cols.length; c++) {
			var cell= ArticleRow.insertCell(c);
			if (c == 2) {cell.setAttribute("class", "article")};
			cell.innerHTML = cols[c].textContent;
		}
	}	
	$("#Table_Selection tbody tr").remove(); 
	totalSelection();
}

// function PanierMoyen(){

// }
</script>