<div class="content">
	<div class="row">
		<div class="Gauche">
			<table id='Table_Selection' class='Table_Selection'>
				<thead>
					<tr>
						<th colspan="3">SELECTION</th>
					</tr>
					<tr>
						<th>Code</th>
						<th>Article</th>
						<th>Prix Unité</th>
					</tr>
				</thead>
				<tbody>
					<%out = false%>
					<%out = true if @note.state == "FULLY_PAID"%>
					<%@note.getUnpaidAverageSplit.each do |split|%>
						<tr class="payout_row" id="<%=split["id"]%>">
							<td><%=split["code"]%></td>
							<td><%=split["name"]%></td>
							<td class="selection"><%=split["value"].to_f / 100%> €</td>
						</tr>
						<%out = true%>
					<%end unless @note.getUnpaidAverageSplit.nil?%>
					<%@note.getUnpaidNoteEntries.each do |entry|%>
						<tr class="payout_row" id="entry<%=entry.id%>">
							<td><%=entry.getCode%></td>
							<td><%=entry.getName%></td>
							<td class="selection"><%=entry.value.to_f / 100%> €</td>
						</tr>
					<% end unless out%>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="2">Total</th><th><%=@note.getTotal.to_f / 100%> €</th>
					</tr>
					<tr>
						<th colspan="2">Restant</th><th id="remaining_selection"><%=@note.get_remaining_due.to_f / 100%> €</th>
					</tr>
				</tfoot>
			</table>
			<button onclick="printEditClient()">REEDITION TICKET CLIENT</button>
		</div>
		
		<div class="Quarter">
			<button onclick="MoveAllSelectionRows()">TOTAL</button>
			<select onChange="PanierMoyen(this)">
	    		<option selected="selected">MOYEN</option>
	    		<option>2</option>
	    		<option>3</option>
	    		<option>4</option>
	    		<option>5</option>
	    		<option>6</option>
	    		<option>7</option>
			</select>
		</div>

		<div class="Centre" id="print-a-payer">
			<table id='Table_Article' class='Table_Article'>
				<thead>
					<tr class="no-print">
						<th colspan="3">ARTICLES A ENCAISSER</th>
					</tr>
					<tr>
						<th>Nb</th>
						<th>Dénomination</th>
						<th>Prix Unité</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr class="yes-print">
						<th colspan="3">==========================================</th>
					</tr>
					<tr>
						<th colspan="2">Total à payer</th>
						<th id="total_apayer">0 €</th>
					</tr>
				</tfoot>
			</table>
			<button onclick="payer()" class="no-print">PAYER</button>
			<button onclick="imprimerNote()" class="no-print">IMPRESSION NOTE</button>
		</div>	
		
		<div class="Droite">
			<table id='Table_Paiement' class='Table_Paiement'>
				<thead>
					<tr>
						<th colspan="2">PAIEMENT</th>
					</tr>
					<tr>
						<th>Montant</th><th>Mode</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
				<tfoot>
					<tr>
						<th>Total</th><th id="totaux_payes">0 €</th>
					</tr>
					<!-- <tr>
						<th>Payé</th><th id="payee">0€</th>
					</tr> -->
					<tr>
						<th>Reste à payer</th><th id="reste_apayer">0 €</th>
					</tr>
					<tr>
						<th>Montant à rendre</th><th id="montant_rendu">0 €</th>
					</tr>
				</tfoot>
			</table>
			<!-- <button>EDITION FACTURE</button> -->
			<button onclick="validerPaiment()">VALIDER</button>
		</div>
	</div>
</div>

<%= render "keyboard_paiement" %>

<!-- dynamic payment type select object -->
<div style="display:none;">
	<select id="payment_type_select">
		<% @payment_types.each do |mode| %>
			<option value="<%= mode.id %>"> <%= mode.name %></option>
		<% end %>
	</select>
</div>

<script>
$("#Table_Selection tbody").delegate('tr','click', function(e) {
	if(document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0].rows.length == 0){
		var my_element = this;
		var articles = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
		my_element.getElementsByTagName('td')[2].setAttribute("class", "article");
		articles.appendChild(my_element);
		totalSelection();
	}
});

$("#Table_Article tbody").delegate("tr",'click',function(e) {
	if(document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0].rows.length == 0){
		var my_element = this;
		var articles = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
		my_element.getElementsByTagName('td')[2].setAttribute("class", "selection");
		articles.appendChild(my_element);
		totalSelection();
	}	
});

$("#Table_Paiement tbody").delegate("tr td:first-child",'click',function(e) {
	$(this).each(function(el){
		$('#modalPaiement').modal('show');
		var rowIndex = $(this).closest('tr').index();
		$('#modalPaiement #hide_paiementIndex').val(rowIndex);
	});
	
});

function totalSelection() {
	var ssum = 0;
	$(".selection").each(function(i,obj) {
		ssum += parseFloat($(obj).text());
	});
	$("#remaining_selection").text(ssum+" €");
	var asum = 0;
	$(".article").each(function(i,obj) {
		asum += parseFloat($(obj).text());
	});
	$("#total_apayer").text(asum+" €");
	$("#totaux_payes").text(asum+" €");	
	$("#reste_apayer").text(asum+" €");
}

function resteAPayer() {
	var psum = 0;
	$(".paiement").each(function(i,obj) {
		psum += parseFloat($(obj).text());
	});
	var rest= parseFloat($("#totaux_payes").text()) - psum
	return rest;
}

function MoveAllSelectionRows() {
	var selections = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0].rows;
	var articles = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
	while (selections.length > 0) {
		var row = selections[selections.length - 1];
		row.getElementsByTagName('td')[2].setAttribute("class", "article");
		articles.appendChild(row);
	}
	totalSelection();
}

function PanierMoyen(e){
	if(parseInt(e.value)){
		var total = parseFloat($("#remaining_selection").text());
		var nbClient=parseInt(e.value);

		var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
		$("#Table_Selection tbody tr").remove(); 
		for(var i =1; i <= nbClient; i++){
			var SelectionRow = selection_table_body.insertRow(selection_table_body.rows.length);
			SelectionRow.setAttribute("id", "moyenne"+i+"/"+nbClient);
			SelectionRow.setAttribute("class", "payout_row");
			var nb = SelectionRow.insertCell(0);
			var denomination=SelectionRow.insertCell(1);
			var prix=SelectionRow.insertCell(2);
			prix.setAttribute("class","selection");
			
			nb.innerHTML = i;
			denomination.innerHTML = "Panier Moyen sur "+nbClient+" personne";		
			prix.innerHTML=(Math.ceil(total/nbClient * 100))/100+" €";
		}
	}
}

function payer(){
	var total_apayer=parseFloat($("#total_apayer").text());
	var paiement_table_body = document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0];
	if((total_apayer > 0) && (paiement_table_body.rows.length == 0)){
		var PaiementRow = paiement_table_body.insertRow(paiement_table_body.rows.length);
		var montant = PaiementRow.insertCell(0);
		montant.setAttribute("class","paiement");
		var mode = PaiementRow.insertCell(1);
		var total = total_apayer;
		var mode_paiement = document.getElementById("payment_type_select").cloneNode(true);
		montant.innerHTML = total + " €";
		mode.appendChild(mode_paiement);
		var remain_due=resteAPayer();
		$("#Table_Paiement tfoot tr:eq(1) th:eq(1)").text(remain_due+" €");
	}
}

function validerPaiment() {
 	var ticketInfo = "";
 	$("#Table_Article tbody tr").each(function(i,element){
 		ticketInfo += (ticketInfo == "") ? $(element).attr('id') : ";"+$(element).attr('id');
 	});
 	if ($(".paiement").length <= 0){
 		alert("ticket vide");
 		return false;
 	}
 	var inData = {};
 	var paid = 0;
 	var method = "";
 	inData["ticket_info"] = ticketInfo;
 	$(".paiement").each(function(i,element){
		method = $(element).parent().find("td:last").find("option:selected").text().trim();
		paid += (parseFloat($(element).text()) * 100);
		if (method in inData){
			inData["method_"+method] += "|"+Math.round(parseFloat($(element).text()) * 100);
		}else{
			inData["method_"+method] = Math.round(parseFloat($(element).text()) * 100);
		}
 	})
 	inData["paid"] = paid;
	inData["total_apayer"] = (parseFloat($("#totaux_payes").text()) * 100);
 	$.ajax({
		async: false,
		url: "/front/notes/<%=@note.id%>/create_ticket",
		type: "POST",
		dataType: "json",
		data: inData,
		success : function(data) {
			$("#Table_Article tbody tr").remove();
			$("#Table_Paiement tbody tr").remove();
			if (data['infos'] == 'to_root') {
				window.location.replace('/')
			}
		}
	})
}

function imprimerNote() {
	var mywindow = window.open('', 'PRINT');
  mywindow.document.write('<html><head></head><body >');
  element = document.getElementById('print-a-payer').cloneNode(true);
  var arr=element.getElementsByClassName('no-print');
  Array.from(arr).forEach(function(item) {
  	item.remove();
  });
  mywindow.document.write(element.innerHTML);
  mywindow.document.write('</body></html>');
  mywindow.print();
  mywindow.close();
}

function printEditClient() {
	var mywindow = window.open("/front/edition_client/<%=Table.getTableByNumber(@note.table_number).id%>?note=<%=@note.id%>", 'PRINT')
	mywindow.addEventListener('load', function(){
		mywindow.print();
		mywindow.close();
	}, true);
}
</script>