<div class="content row">
	<div class="Gauche">
		<table id='Table_Selection' class='Table_Selection'>
			<thead>
				<tr>
					<th colspan="3">SELECTION</th>
				</tr>
				<tr>
					<th>Nb</th>
					<th>Dénomination</th>
					<th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
				<%@note.note_entries.each do |entry|%>
					<tr>
						<td><%=entry.getCode%></td>
						<td><%=entry.getName%></td>
						<td class="selection"><%=entry.value.to_f / 100%> €</td>
					</tr>
				<%end%>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total</th><th><%=@note.getTotal.to_f / 100%> €</th>
				</tr>
				<tr>
					<th colspan="2">Restant</th><th id="remaining_selection"><%=@note.get_remaining_due.to_f / 100%> €</th>
				</tr>
			</tfoot>
		</table>
		<button>REEDITION TICKET CLIENT</button>
	</div>
	
	<div class="Quarter">
		<button onclick="MoveAllSelectionRows()">TOTAL</button>
		<select onChange="PanierMoyen(this)">
    		<option selected="selected">MOYEN</option>
    		<option>1</option>
    		<option>2</option>
    		<option>3</option>
    		<option>4</option>
    		<option>5</option>
    		<option>6</option>
    		<option>7</option>
		</select>
	</div>

	<div class="Centre">
		<table id='Table_Article' class='Table_Article'>
			<thead>
				<tr>
					<th colspan="3">ARTICLES A ENCAISSER</th>
				</tr>
				<tr>
					<th>Nb</th><th>Dénomination</th><th>Prix Unité</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total</th><th id="total_apayer">0 €</th>
				</tr>
				<!-- <tr>
					<th colspan="2">1 repas</th><th>x €</th>
				</tr> -->
			</tfoot>	
		</table>
		<button onclick="payer()">PAYER</button>
	</div>	
	
	<div class="Droite">
		<table id='Table_Paiement' class='Table_Paiement'>
			<thead>
				<tr>
					<th colspan="2">PAIEMENT</th>
				</tr>
				<tr>
					<th>Montant</th><th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr>
					<td class="paiement">0€</td>
					<td>
						<select>
						  <option value="ES">ES</option>
						  <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option>
						</select>
					</td>
				</tr> -->
				<!-- <tr> -->
					<!-- <td>5€</td> -->
					<!-- <td> -->
						<!-- <select> -->
						<%# @payment_types.each do |mode| %>
						  <!-- <option value="<%#=mode.id%>"><%#=mode.name%></option> -->
						<%# end %>
						  <!-- <option value="CB" selected="selected">CB</option>
						  <option value="TR">TR</option>
						  <option value="CH">CH</option>
						  <option value="AUTRES">AUTRES</option> -->
						<!-- </select> -->
					<!-- </td> -->
				<!-- </tr> -->
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th><th id="totaux_payes">0 €</th>
				</tr>
				<!-- <tr>
					<th>Payé</th><th id="payee">0€</th>
				</tr> -->
				<tr>
					<th>Reste à payer</th><th id="reste_apayer">0 €</th>
				</tr>
			</tfoot>
		</table>
		<!-- <button>EDITION FACTURE</button> -->
		<button onclick="validerPaiment()">VALIDER</button>
	</div>
</div>

<%= render "keyboard_paiement" %>

<!-- dynamic payment type select object -->
<div style="display:none;">
	<select id="payment_type_select">
		<% @payment_types.each do |mode| %>
			<option value="<%= mode.id %>"> <%= mode.name %></option>
		<% end %>
	</select>
</div>

<script>


$("#Table_Selection tbody").delegate('tr','click', function(e) {
	var paiement_table_body = document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0];
	if(paiement_table_body.rows.length == 0){
		var article_table_body = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
		var ArticleRow = article_table_body.insertRow(article_table_body.rows.length);
		var rowIndex = this.rowIndex;
		document.getElementById("Table_Selection").deleteRow(rowIndex);
		var i=0;
		$("td",this).each(function(el){
			var cell= ArticleRow.insertCell(i);
			if (i == 2) {cell.setAttribute("class", "article")};
			cell.innerHTML = $(this).text();
			i++;
		})
		totalSelection();
	}
});

$("#Table_Article tbody").delegate("tr",'click',function(e) {
	var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
	var SelectionRow = selection_table_body.insertRow(selection_table_body.rows.length);
	var rowIndex = this.rowIndex;
	document.getElementById("Table_Article").deleteRow(rowIndex);
	var i=0;
	$("td",this).each(function(el){
		var cell= SelectionRow.insertCell(i);
		if (i == 2) {cell.setAttribute("class", "selection");}
		cell.innerHTML = $(this).text();
		i++;
	})
	totalSelection();
	document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0].deleteRow(0);
	
});

$("#Table_Paiement tbody").delegate("tr td:first-child",'click',function(e) {
	$(this).each(function(el){
		$('#modalPaiement').modal('show');
		var rowIndex = $(this).closest('tr').index();
		$('#modalPaiement #hide_paiementIndex').val(rowIndex);
	});
	
});

function totalSelection(){
	var ssum = 0;
	$(".selection").each(function(i,obj) {
		ssum += parseFloat($(obj).text());
	});
	$("#remaining_selection").text(ssum+" €");
	var asum = 0;
	$(".article").each(function(i,obj) {
		asum += parseFloat($(obj).text());
	});
	$("#total_apayer").text(asum+" €");
	$("#totaux_payes").text(asum+" €");	
	$("#reste_apayer").text(asum+" €");
}

function resteAPayer(){
	var psum = 0;
	$(".paiement").each(function(i,obj) {
		psum += parseFloat($(obj).text());
	});
	var rest= parseFloat($("#totaux_payes").text()) - psum
	return rest;
}

function MoveAllSelectionRows(){
	var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
	var article_table_body = document.getElementById("Table_Article").getElementsByTagName('tbody')[0];
	var srows=selection_table_body.rows;
	for (var r = 0; r < srows.length; r++) {
		var cols = srows[r].cells;
		var ArticleRow = article_table_body.insertRow(r);
		for (var c = 0; c < cols.length; c++) {
			var cell= ArticleRow.insertCell(c);
			if (c == 2) {cell.setAttribute("class", "article")};
			cell.innerHTML = cols[c].textContent;
		}
	}
	$("#Table_Selection tbody tr").remove();
	totalSelection();
}
function PanierMoyen(e){
	if(parseInt(e.value)){
		var total = parseFloat($("#remaining_selection").text());
		var nbClient=parseInt(e.value);

		var selection_table_body = document.getElementById("Table_Selection").getElementsByTagName('tbody')[0];
		$("#Table_Selection tbody tr").remove(); 
		for(var i =1; i <= nbClient; i++){
			var SelectionRow = selection_table_body.insertRow(selection_table_body.rows.length);
			var nb = SelectionRow.insertCell(0);
			var denomination=SelectionRow.insertCell(1);
			var prix=SelectionRow.insertCell(2);
			prix.setAttribute("class","selection");
			
			nb.innerHTML = i;
			denomination.innerHTML = "Panier Moyen sur "+nbClient+" personne";		
			prix.innerHTML=total/nbClient+" €";
		}
	}
}

function payer(){
	var total_apayer=parseFloat($("#total_apayer").text());
	var paiement_table_body = document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0];
	if((total_apayer > 0) && (paiement_table_body.rows.length == 0)){
		var PaiementRow = paiement_table_body.insertRow(paiement_table_body.rows.length);
		var montant = PaiementRow.insertCell(0);
		montant.setAttribute("class","paiement");
		var mode = PaiementRow.insertCell(1);
		var total = total_apayer;
		var mode_paiement = document.getElementById("payment_type_select").cloneNode(true);
		montant.innerHTML = total + " €";
		mode.appendChild(mode_paiement);
		var remain_due=resteAPayer();
		$("#Table_Paiement tfoot tr:eq(1) th:eq(1)").text(remain_due+" €");
	}
}

 function validerPaiment(){
 	var data = {};
 	var paid = 0;
 	var method = "";
 	$(".paiement").each(function(i,element){
		method = $(element).parent().find("td:last").find("option:selected").text();
		paid += parseFloat($(element).text());
		data[method+i] = parseFloat($(element).text());
 	})
 	data["paid"] = paid;
	data["total_apayer"] = parseFloat($("#totaux_payes").text());
 	$.ajax({
		async: false,
		url: "/front/notes/<%=@note.id%>/create_ticket",
		type: "POST",
		dataType: "json",
		data: "data",
		success : function(data) {
			$("#Table_Article tbody tr").remove();
			$("#Table_Paiement tbody tr").remove();
			totalSelection();
		}
	})
	// var data = {};
	// var paid = 0;
	// var method = "";
	// $(".paiement").each(function(i,element){
	// 	method = $(element).parent().find("td:last").find("option:selected").text();
	// 	paid += parseFloat($(element).text());
	// 	data[method+i] = parseFloat($(element).text());
	// });
	// data["paid"] = paid;
	// data["total_apayer"] = parseFloat($("#totaux_payes").text());
	// $.ajax({
	// 	async: false,
	// 	url: "/front/tickets/create_ticket/",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: data,
	// 	success : function(data) {

	// 	},
	// 	error : function(data) {

	// 	}
	// })
}

</script>