<div id="table_detail" class="content">
	<table id='Table_Detail' class='table'>
	<thead>
		<tr>
			<th colspan="2" rowspan="2"><img src="/assets/table1.png" onclick="toggleTableDetail()"></th>
			<th colspan="5">Ref : <%=@table.table_number%><br>N° Table : <%=@table.table_number.to_s.rjust(2,'0')%></th>
		</tr>
		<tr>
			<th style="width:10%">Code</th>
			<th style="width:10%">Nom</th>
			<th style="width:10%">Prix Unité</th>
			<th style="width:45%">Note</th>
			<th style="width:10%">Etat</th>
		</tr>
	</thead>
	
	<tbody id='table_detail_note'>
		<% @note. %>
		<%  %>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="7" id="table_note_sum">Somme = 0 €</th>
		</tr>
	</tfoot>
	</table>
	
	<table id='Table_Bottom' class='Table_Bottom'>
		<tr style="height:50px;">
			<td><a href="/front/edition_liste">Edition liste</a></td>
			<td><a href="/front/edition_client">Edition Client</a></td>
			<td><a class="btn" onclick="cashIn()">Encaisser</a></td>
			<td><a href="/front/annulation">Annulation</a></td>
		</tr>
	</table>	
</div>

<%= render "table_book" %>
<%= render "keyboard" %>
<%= render "keyboard_notice" %>

<script >
$(document).ready(function() {
	// var tableNote = {};
	// var tableKeys = Object.keys(tableNote);
	// tableKeys.forEach(function(element) {
	// });
});

function toggleTableDetail() {
	if ($("#table_detail").is(":visible")) {
		$("#table_detail").hide();
		$("#table_book").show();
	} else {
		$("#table_detail").show();
		$("#table_book").hide();
	}
}
function duplicateLineNote(e) {
	var thisLine = $(e).parent().parent();
	$("#table_detail_note").append(thisLine.clone());
	updateSum();
}
function removeLineNote(e) {
	$(e).parent().parent().remove();
	updateSum();
}
function updateSum() {
	var sum = 0;
	$(".table_note_price").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#table_note_sum").text("Somme = "+sum+" €");
}
function cashIn() {
	var tableNote = {
		"table_id"	: "<%=@table.id%>",
		"articles"	: ($(".table_note_code").map(function(){return $(this).text();}).get()).join(";")
	};
	if (tableNote['articles'] != ""){
		$.ajax({
			async: false,
			url: "/front/notes/create",
			type: "POST",
			data: tableNote,
			dataType: "json",
			success : function(data) {
				if (data["success"]){
					window.location.href = "/front/encaisser/"+data["note_id"];
				}
			}
		});
	}
}
function addCodeManually(){
	$('#modalAddCodeManually').modal('show');
}

function addNotice(e) {
	alert($(e).parent().parent());
	//alert(("#table_detail_note").rows[0]);
	///$('#hide_ligne').text($(e).index()+1);
	//$('#modalAddNotice').modal('show');	
}
</script>