<div id="takeaway_detail" class="content">
	<div class="col-xs-8 col-xs-offset-2  content_Takeaway_Detail">
		<table id='Takeaway_Detail' class='table'>
			<thead>
				<tr>
					<th colspan="5">Ref : <%=@note.reference%><br>A Emporter</th>
					<th colspan="2" rowspan="2"><button class="btn" onclick="toggleTableDetail()">Menus</button>
						<input type="text" list="AllArticlesCode" id="Article-input" placeholder="Chercher Menu par code">
						<datalist id="AllArticlesCode">
							<% Menu.all.map(&:code).each do |code| %>
								<option value=<%=code%> >
								
							<% end %>
							<% Article.all.map(&:code).each do |code| %>
								<option value=<%=code%>>
							<% end %>
						</datalist>
					</th> 
				</tr>
				<tr>
					<th style="width:10%">Code</th>
					<th style="width:10%">Nom</th>
					<th style="width:10%">Prix Unité</th>
					<th style="width:45%">Note</th>
					<th style="width:10%">Etat</th>
				</tr>
			</thead>
			
			<tbody id='takeaway_detail_note'>
				<% @note.getMenus.each do |menu| %>
					<tr>
						<td class='takeaway_note_code'><%=menu.code%></td>
						<td><%=menu.name%></td>
						<td class='takeaway_note_price'><%=menu.price.to_f / 100%> €</td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='addNotice(this)'><span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span></button>
						</td>
						<td></td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='duplicateLineNote(this)'><span class='glyphicon glyphicon-duplicate' aria-hidden='true'></span></button>
						</td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='removeLineNote(this)'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button>
						</td>
					</tr>
				<% end %>
				<% @note.getArticles.each do |article| %>
					<tr>
						<td class='takeaway_note_code'><%=article.code%></td>
						<td><%=article.name%></td>
						<td class='takeaway_note_price'><%=article.price.to_f / 100%> €</td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='addNotice(this)'><span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span></button>
						</td>
						<td></td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='duplicateLineNote(this)'><span class='glyphicon glyphicon-duplicate' aria-hidden='true'></span></button>
						</td>
						<td>
							<button type='button' class='btn btn-default btn-lg' onClick='removeLineNote(this)'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button>
						</td>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="7" id="takeaway_note_sum">Somme = 0 €</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<table id='Table_Bottom' class='Table_Bottom'>
		<tr style="height:50px;">
			<td><a class="btn" href="/front/edition_liste/<%=@note.id%>">Edition liste</a></td>
			<td><a class="btn" href="/front/edition_client">Edition Client</a></td>
			<td><a class="btn" href="/front/encaisser/<%=@note.id%>">Encaisser</a></td>
			<td><a class="btn" href="/front/annulation/<%=@table.id%>">Annulation</a></td>
		</tr>
	</table>	
</div>

<%= render "takeaway_book" %>
<%= render "keyboard_takeaway_notice" %>

<script >
$(document).ready(function() {
	// var tableNote = {};
	// var tableKeys = Object.keys(tableNote);
	// tableKeys.forEach(function(element) {
	// });
	updateSum();
});

function updateNote(){
	var items = ($(".takeaway_note_code").map(function(){return $(this).text();}).get()).join(";");
	
	$.ajax({
		async: false,
		url: "/front/notes/update/<%=@note.id%>?articles="+escape(items),
		type: "GET",
		success : function(data) {

		},
		error : function(data) {

		}
	})
}

function toggleTableDetail() {
	if ($("#takeaway_detail").is(":visible")) {
		$("#takeaway_detail").hide();
		$("#takeaway_book").show();
	} else {
		$("#takeaway_detail").show();
		$("#takeaway_book").hide();
	}
}
function duplicateLineNote(e) {
	var thisLine = $(e).parent().parent();
	$("#takeaway_detail_note").append(thisLine.clone());
	updateSum();
	updateNote();
}
function removeLineNote(e) {
	$(e).parent().parent().remove();
	updateSum();
	updateNote();
}
function updateSum() {
	var sum = 0;
	$(".takeaway_note_price").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#takeaway_note_sum").text("Somme = "+sum+" €");
}


function addNotice(e) {
	$('#modalAddNotice').modal('show');
	var rowIndex = $(e).closest('tr').index();
	$('#modalAddNotice #hide_tableIndex').val(rowIndex);
	$("#modalAddNotice").modal("show");
}

$("#Article-input").on('input', function () {
	var takeaway_detail_line = "<tr><td class='takeaway_note_code'>%CODE%</td><td>%NOM%</td><td class='takeaway_note_price'>%PRIX%</td><td><button type='button' class='btn btn-default btn-lg' onclick='addNotice(this)'><span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span></button>%NOTE%</td><td>%ETAT%</td><td><button type='button' class='btn btn-default btn-lg' onclick='duplicateLineNote(this)'><span class='glyphicon glyphicon-duplicate' aria-hidden='true'></span></button></td><td><button type='button' class='btn btn-default btn-lg' onClick='removeLineNote(this)'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td></tr>";
    var code = this.value;
    if($('#AllArticlesCode').find('option').filter(function(){
        return this.value.toUpperCase() === code.toUpperCase();        
    }).length) {
        $.ajax({
			async: false,
			url: "/front/get_code/"+code,
			type: "GET",
			success : function(data) {
				if (data["success"]){
					var line = takeaway_detail_line.replace('%CODE%', data["code"]);
					line = line.replace('%NOM%', data["name"]);
					line = line.replace('%PRIX%', data["price"] / 100 + ' €');
					line = line.replace('%NOTE%', '');
					line = line.replace('%ETAT%', '');
					$("#takeaway_detail_note").append(line);
					updateSum();
					updateNote();
					$("#Article-input").val('');
				}
			}
		});
    }
});

</script>