<!DOCTYPE html>
<html>
<head>
	<title>CentralineCashr</title>
	<%= csrf_meta_tags %>
	<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="application_body">
	<div class="header">
		<table id='Head' class='Head' style="height:60px">
		<tr>
			<td><a class="btn" href="/front/caisse">TABLE</a></td>
			<!-- <td><a href="/front/caisse" style="vertical-align:center;display:block;height:100%;">TABLE</a></td> -->
			<td><a class="btn" href="/front/emporter">EMPORTER</a></td>
			<td><a class="btn" href="/front/delivery">LIVRAISON</a></td> 
			<td style="background-color: #FAAC58;"><a class="btn">EN LIGNE</a></td>
			<td style="background-color: #FAAC58;"><a class="btn">AUTRES</a></td>
			<!-- <td><a>COM. PAYE</a></td> -->
			<td><a class="btn" href="/admin/dashboard">ADMIN</a></td>
			<td><a class="btn" onclick="fullScreen()"><span class="glyphicon glyphicon-fullscreen"></span></a></td>
		</tr>
		</table>
	</div>
	<%= yield %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
<script type="text/javascript">
var fullscreenDiv    = document.getElementById("application_body");
var fullscreenFunc   = fullscreenDiv.requestFullscreen;

if (!fullscreenFunc) {
  ['mozRequestFullScreen',
   'msRequestFullscreen',
   'webkitRequestFullScreen'].forEach(function (req) {
     fullscreenFunc = fullscreenFunc || fullscreenDiv[req];
   });
}

function fullScreen() {
	// Document.exitFullscreen();
	// var elem = document.getElementById("application_body"); // Make the body go full screen.
	// if (elem.requestFullscreen) {
	// 	elem.requestFullscreen();
	// } else {
	// 	alert ("nofullscreen");
	// }
	fullscreenFunc.call(fullscreenDiv);
}
// Click toggle fullscreen mode
// document.onclick = function (event) { 
//   if (document.fullscreenElement) { 
//     document.exitFullscreen() 
//   } else { 
//     document.documentElement.requestFullscreen() 
//   } 
// };
</script> 

</body>
</html>
